body {
    font-family: 'Roboto';
}

.header-section {
    display: flex;
    background-color: #F9D342;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.header-section__logo {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    color: #000;
}

.header-section__logo-img {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.header-section__nav {
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

.header-section__link {
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    color: #000;
}

.header-section__button {
    border-radius: 20px;
    background-color: transparent;
    border: #000 1px solid;
    padding: 8px 12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.hero-section {
    background-image: url(../img/hero-fon.png);
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 50px;
}

.hero-section__titel {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
text-align: center;
}

.hero-section__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    max-width: 500px;
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.hero-section__button {
    border-radius: 20px;
    background-color: #F9D342;
    border: #000 2px solid;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.how-section {
    background-color: #F9D342;
    padding-top: 80px;
padding-left: 300px;
padding-right: 300px;
    padding-bottom: 50px;
}

.how-section__titel {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 80px;
}

.how-section__text {
    width: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
}

.how-section__list {
    display: flex;
    justify-content: space-between;
}
.how-section__item {
    width: 255px;
height: 255px;
background-color: #000;
border-radius: 20px;
padding-left: 20px;
padding-right: 10px;
padding-top: 20px;

}
.how-section__list-titel {
    color: #F9D342;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.how-section__list-text {
    color: #F9D342;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.footer-section {
    background-color: rgb(69, 66, 63);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-section__licens {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}